<div class="row justify-content-center">
  <div id="uneaten-burgers" class="col-6 col-lg-4 pr-0">
    {{#each burgers}}
      {{#unless devoured}}
          <p class="burger-text py-2 my-0">{{this.burger_name}} <button class="btn devour-btn btn-sm ml-lg-4" data-id="{{this.id}}">Devour!</button><span class="delete-btn" data-id="{{this.id}}">&#10006;</span></p>
      {{/unless}}
    {{/each}}
  </div>
  <div id="eaten-burgers" class="col-6 col-lg-4 pl-0">
    {{#each burgers}}
      {{#if devoured}}
          <p class="devoured-text py-2 my-0">{{this.burger_name}} <span class="delete-btn" data-id="{{this.id}}">&#10006;</span></p>
      {{/if}}
    {{/each}}
  </div>  
</div>

<div class="row my-5 pt-5 form-row">
  <div class="col-12">
  <h2 class="mb-3">Add a Burger</h2>
  <form class="create-form">

    <div class="form-group">
      {{!-- <label for="name">Burger Name:</label> --}}
      <input type="text" id="burger-name" name="name">
    </div>

    <button id="submit-btn" class="add-btn btn" type="submit">Add Burger</button>
  </form>
  </div>
</div>